export(buildGitbook)
export(buildRmd)
export(checkForGitbook)
export(gitbookInfo)
export(initGitbook)
export(installGitbook)
export(newGitbook)
export(openGitbook)
export(publishGitbook)
import(knitr)
import(utils)
